body{
    background-image:url(media/background.jpg);
}

h1{
    text-align: center;
    color: white;
    font-family: "Quicksand", sans-serif;
}
.mb-3{
    margin-top: 25px;
}
.form-control{
    text-align: center;
}

.btn{
    margin-left: 43%;
    font-family: "Quicksand", sans-serif;
}
.container{
    width: 100vh;
    border-color: aliceblue;
    padding: 100px;
    padding-bottom: 10px;
}

.primo {
    color:green; 
}

.no-primo {
    color: red; 
}

footer{
    text-align: center;
    color: white;
    font-family: "Quicksand", sans-serif;
}
